@inject CoreTabState TabState
@rendermode InteractiveServer
@implements IDisposable

<div class="core-content">
    @switch (TabState.ActiveTab)
    {
        case TabType.Play:
            <PlayTab />
            break;

        case TabType.Gallery:
            <Gallery />
            break;
    }
</div>

<FloatingMusicPlayer IsPlayTab="@(TabState.ActiveTab == TabType.Play)"
                     VisibleOnPlayTabOnly="true" />

@code {
    protected override void OnInitialized()
        => TabState.OnChange += StateHasChanged;

    public void Dispose()
        => TabState.OnChange -= StateHasChanged;
}
