<div class="playtab">
    <div class="bg">
        <div class="bg-layer bg1"></div>
        <div class="bg-layer bg2"></div>
        <div class="bg-layer bg3"></div>
        <div class="bg-layer bg4"></div>
    </div>

    <div class="overlay"></div>

    <section class="hero">
        <div class="hero-card">
            <div class="lines">
                <div class="line line1">I have a surprise for you!</div>
                <div class="line line2">But first</div>
                <div class="line line3">Are you really my love? </div>
            </div>
        </div>
    </section>
</div>
