@inject CoreTabState TabState
@rendermode InteractiveServer

<nav class="menu">
    <button class="menu-item" @onclick="() => Select(TabType.Play)">Play</button>
    <span class="divider">|</span>

    <button class="menu-item" @onclick="() => Select(TabType.Gallery)">Gallery</button>
    <span class="divider">|</span>
</nav>

@code {
    private void Select(TabType tab)
    {
        TabState.SetTab(tab);
    }
}
